{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://xgtehtueff.loclx.io","description":"Generated server url"}],"paths":{"/super-hero":{"get":{"tags":["super-hero-controller"],"operationId":"findAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}},"put":{"tags":["super-hero-controller"],"operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuperHero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["super-hero-controller"],"operationId":"save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuperHero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/employee-query/get-by-condition":{"post":{"tags":["employee-query-controller"],"operationId":"getEmployeeByCondition","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Employee"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/employee-jpa/get-by-condition":{"post":{"tags":["employee-controller"],"operationId":"getEmployeeByCondition_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Employee"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/super-hero/{id}":{"get":{"tags":["super-hero-controller"],"operationId":"findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["super-hero-controller"],"operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/employee-query":{"get":{"tags":["employee-query-controller"],"operationId":"getAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/employee-query/salary-greater-than/{salary}":{"get":{"tags":["employee-query-controller"],"operationId":"getEmployeeBySalaryGreaterThan","parameters":[{"name":"salary","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/employee-query/one-by-lastName/{lastName}":{"get":{"tags":["employee-query-controller"],"operationId":"getSingleEmployeeByLastName","parameters":[{"name":"lastName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Employee"}}}}}}},"/employee-query/one-by-firstName/{firstName}":{"get":{"tags":["employee-query-controller"],"operationId":"getOneEmployeeByFirstName","parameters":[{"name":"firstName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Employee"}}}}}}},"/employee-query/firstName/{firstName}":{"get":{"tags":["employee-query-controller"],"operationId":"getEmployeeByFirstName","parameters":[{"name":"firstName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/employee-query/firstName-like/{firstName}":{"get":{"tags":["employee-query-controller"],"operationId":"getEmployeeByFirstNameLike","parameters":[{"name":"firstName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/employee-jpa":{"get":{"tags":["employee-controller"],"operationId":"getAll_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/employee-jpa/{empId}":{"get":{"tags":["employee-controller"],"operationId":"getEmployeeById","parameters":[{"name":"empId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Employee"}}}}}}},"/employee-jpa/say":{"get":{"tags":["employee-controller"],"operationId":"sayHello","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/employee-jpa/salary-greater-than/{salary}":{"get":{"tags":["employee-controller"],"operationId":"getEmployeeBySalaryGreaterThan_1","parameters":[{"name":"salary","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/employee-jpa/one-by-lastName/{lastName}":{"get":{"tags":["employee-controller"],"operationId":"getEmployeeBylName","parameters":[{"name":"lastName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Employee"}}}}}}},"/employee-jpa/one-by-firstName/{firstName}":{"get":{"tags":["employee-controller"],"operationId":"getOneEmployeeByFirstName_1","parameters":[{"name":"firstName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Employee"}}}}}}},"/employee-jpa/firstName/{firstName}":{"get":{"tags":["employee-controller"],"operationId":"getEmployeeByName","parameters":[{"name":"firstName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/employee-jpa/firstName-like/{firstName}":{"get":{"tags":["employee-controller"],"operationId":"getEmployeeByFirstNameLike_1","parameters":[{"name":"firstName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}}},"components":{"schemas":{"SuperHero":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"superName":{"type":"string"},"profession":{"type":"string"},"age":{"type":"integer","format":"int32"},"canFly":{"type":"boolean"}}},"Employee":{"type":"object","properties":{"id":{"type":"string"},"empId":{"type":"integer","format":"int32"},"firstName":{"type":"string"},"lastName":{"type":"string"},"salary":{"type":"number","format":"float"}}}}}}